<div class="container mt-4">
  <h2 class="mb-4">Lista de Áreas</h2>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Líder</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of areas">
          <td>{{ area.cod }}</td>
          <td>{{ area.name }}</td>
          <td>{{ area.leader }}</td>
          <td>{{ area.status }}</td>
          <td>
            <button
              type="button"
              class="btn btn-secondary m-1"
              (click)="openModal(true, area)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger m-1"
              (click)="deteleArea(area)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary mb-3" (click)="openModal(false)">
    Crear Área
  </button>
</div>
