<div class="container mt-4">
  <h2 class="mb-4">Lista de Usuarios</h2>

  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Fecha de Nacimiento</th>
          <th>Email</th>
          <th>Número de documento</th>
          <th>Área</th>
          <th>Salario</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.birthdayDate | date }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.documentNumber }}</td>
          <td>{{ user.area }}</td>
          <td>{{ user.salary | currency : "USD" }}</td>
          <td>{{ user.status }}</td>
          <td>
            <button
              type="button"
              class="btn btn-secondary m-1"
              (click)="openModal(true, user)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger m-1"
              (click)="deteleUser(user)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary mb-3" (click)="openModal(false)">
    Crear Usuario
  </button>
</div>
